@import "../../variables.scss";

.home-page {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    background-color: rgba(250, 235, 215, 0.8);
    height: 90%;
    width: 70%;
    border-radius: 15px;
    display: flex;
    overflow: hidden;
    color: black;

    @include breakpoint(sm) {
      height: 100%;
      border-radius: 0;
      width: 100%;
    }

    .sidebar {
      flex: 1;
      height: 100%;
      display: flex;
      flex-direction: column;
      border-right: 1px solid lightgray;
      background-color: #3e3c61;

      @include breakpoint(sm) {
        display: none;
      }
      @include breakpoint(md) {
        display: none;
      }
      @include breakpoint(lg) {
        display: none;
      }

      .navbar {
        position: sticky;
        top: 0;
        height: 60px;
        padding: 10px;
        display: flex;
        align-items: center;
        background-color: #26253b;
        color: white;

        .wrapper {
          width: 100%;
          align-items: center;
          display: flex;
          justify-content: space-between;

          span {
            font-size: 22px;
            font-weight: bold;
          }
          div {
            display: flex;
            align-items: center;
            gap: 15px;
            img {
              height: 35px;
              width: 35px;
              object-fit: cover;
              border-radius: 50%;
              cursor: pointer;
            }
            button {
              background-color: rgb(129, 129, 180);
              border: none;
              color: white;
              border-radius: 5px;
              padding: 5px 8px;
              cursor: pointer;
              transition: all 0.3s;

              &:hover {
                background-color: rgb(147, 147, 201);
              }
            }
          }
        }
      }
      .search {
        display: flex;
        flex-direction: column;
        overflow: auto;
        max-height: 50%;
        .input {
          padding: 10px;
          position: relative;

          input {
            background-color: transparent;
            width: 100%;
            padding: 10px;
            border: none;
            outline: none;
            border-bottom: 1px solid rgb(129, 129, 180);
            color: white;

            &::placeholder {
              color: gray;
            }
          }
          button {
            position: absolute;
            top: 50%;
            right: 5%;
            transform: translateY(-50%);
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 8px;
            border-radius: 50%;
            border: none;
            background-color: transparent;
            cursor: pointer;
            transition: all 0.2s;

            &:hover {
              background-color: #26253b;
            }
          }
        }
        .friend-info {
          margin: 0;
          width: 100%;
          display: flex;
          gap: 20px;
          align-items: center;
          transition: all 0.3s;
          padding: 10px 15px;
          border-radius: 5px;
          cursor: pointer;

          &:hover {
            background-color: #26253b;
          }

          img {
            height: 50px;
            width: 50px;
            object-fit: cover;
            object-position: top;
            border-radius: 50%;
          }
          div {
            span {
              color: white;
              font-size: 16px;
              font-weight: 600;
            }
          }
        }
      }
      .friends-list {
        height: 80%;
        overflow: auto;
        .list-container {
          margin: auto;
          width: 100%;
          display: flex;
          gap: 20px;
          align-items: center;
          transition: all 0.3s;
          padding: 10px 15px;
          border-radius: 5px;
          cursor: pointer;

          &:hover {
            background-color: #26253b;
          }

          &.active {
            background-color: aquamarine;

            div {
              span,
              p {
                color: black;
              }
            }
          }

          .user {
            position: relative;
            img {
              height: 50px;
              width: 50px;
              object-fit: cover;
              object-position: top;
              border-radius: 50%;
            }
            .circle {
              position: absolute;
              top: -5%;
              right: 3%;
              height: 15px;
              width: 15px;
              border-radius: 50%;
              border: 2px solid white;
              background-color: green;
            }
          }

          div {
            display: flex;
            flex-direction: column;
            gap: 3px;

            span {
              color: white;
              font-size: 16px;
              font-weight: 600;
            }
            p {
              color: lightgray;
              font-size: 12px;
            }
          }
        }
      }
    }
    .conversation {
      flex: 2;
    }
    .default {
      flex: 2;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;

      .menu-btn {
        position: absolute;
        top: 2%;
        left: 1%;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        background-color: #3e3c61;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.2s;

        @include breakpoint(xl) {
          display: none;
        }

        &:hover {
          background-color: #5b597e;
        }

        .btn {
          color: rgb(194, 191, 191);
          animation: popping 1s linear infinite;

          @keyframes popping {
            0%,
            100% {
              transform: scale(100%);
            }

            25%,
            75% {
              transform: scale(120%);
            }
            50% {
              transform: scale(130%);
            }
          }
        }
      }

      p {
        font-size: 26px;

        @include breakpoint(sm) {
          font-size: 17px;
        }
        @include breakpoint(md) {
          font-size: 17px;
        }
        @include breakpoint(lg) {
          font-size: 25px;
        }

        span {
          font-weight: bold;
          color: #26253b;
        }
      }
    }
  }
}
